body {
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#89f7fe,#66a6ff);
    text-align:center;
    padding:40px 15px;
}

.card {
    background:white;
    width:90%;
    max-width:420px;
    margin:auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.progress-box {
    background:#eee;
    border-radius:20px;
    overflow:hidden;
    height:28px;
    margin-top:20px;
}

.progress {
    height:100%;
    width:0%;
    background:#4caf50;
    transition: width 0.4s;
}

.nextBtn {
    display:none;
    margin-top:20px;
    background:#4caf50;
    color:white;
    padding:14px 22px;
    font-size:16px;
    border-radius:10px;
    text-decoration:none;
    display:inline-block;
}

.nextBtn:hover {
    transform:scale(1.05);
}

#status {
    margin-top:12px;
    font-weight:bold;
}
/*second*/
body{
    font-family: Arial;
    text-align:center;
    background: linear-gradient(135deg,#89f7fe,#66a6ff);
    padding:40px 15px;
}

.card{
    background:white;
    width:90%;
    max-width:420px;
    margin:auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

button{
    background:#e91e63;
    color:white;
    border:none;
    padding:14px 18px;
    border-radius:10px;
    margin:8px;
    font-size:16px;
    cursor:pointer;
}

.meter{
    background:#eee;
    height:25px;
    border-radius:20px;
    overflow:hidden;
    margin-top:15px;
}

.fill{
    height:100%;
    width:0%;
    background:#4caf50;
    transition:1s;
}
/*third*/
body{
    font-family: Arial;
    text-align:center;
    background: linear-gradient(135deg,#89f7fe,#66a6ff);
    padding:30px 15px;
}

.card{
    background:white;
    width:95%;
    max-width:440px;
    margin:auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.25);
    position:relative;
}

button{
    background:#ff5722;
    color:white;
    border:none;
    padding:14px 18px;
    border-radius:10px;
    margin:8px;
    font-size:16px;
    cursor:pointer;
    position:relative;
}

#noBtn{
    background:#555;
}

.meter{
    background:#eee;
    height:26px;
    border-radius:20px;
    overflow:hidden;
    margin-top:15px;
}

.fill{
    height:100%;
    width:0%;
    background:#4caf50;
    transition:1s;
}

#result{
    margin-top:15px;
    font-weight:bold;
    font-size:18px;
}
